VITE_API_BASE=http://localhost:3000/prod
VITE_AWS_REGION=us-east-1
VITE_IOT_WEBSOCKET_URL=wss://xxxxxxxxxxxxx-ats.iot.us-east-1.amazonaws.com/mqtt
VITE_COGNITO_USER_POOL_ID=us-east-1_xxxxx
VITE_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_ENABLE_MOCKS=true
